*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Nunito', sans-serif;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(210deg, #000000 24%, #00529C 100%);
    background-size: 450% 450%;
    color: #fff;
    animation: gradientAnimation 5s ease;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 00% !important;
    }
    50% {
        background-position: 100% 0% !important;
    }
    100% {
        background-position: 0% 0% !important;
    }
}
.boton-header {
    text-decoration: none;
    color: #fff;
    text-align: center;
    width: auto;
    cursor: pointer;
    padding: 8px 17px;
    background-color: rgba(145, 198, 247, 0.37);
    border: 1px solid#fff !important;
    border-radius: 50px;
    font-size: 16px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.25);
}
.boton-header:hover{
    color: #fff !important;
}
.contenedor-hero {
    width: auto;
    color: #91C6F7;
    font-size: 60px;
    font-family: nunito;
    font-weight: 700;
    margin-top: 100px;
}
.contenedor-hero-h1 {
    width: auto;
    color: #91c6f7;
    font-size: 30px;
    font-family: nunito;
    font-weight: 850;
}
.links a {
    color: #fff;
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease;
}

.links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #91C6F7;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
}

.links a:hover {
    color: #91C6F7;
}

.links a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}
.letra {
    color: rgb(214, 207, 207);
}
.text{
    width: 400px;
    text-align: center;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 20px;
    margin-left: 125px;
}

.text p{
    font-size: 16px;
    color: #fff;
}

.trans{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.inter{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.contenedor-principal {
	background-color: rgb(145, 198, 247, 0.12);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	height: 100%;
	border-radius: 50px;
}
.objetivos{
    margin: 10px auto;
    width: 80%;
    height:auto;
    background-color: rgb(217, 217, 217, 0.06);
    padding: 30px;
    position: relative;
    top: 160px;
    border-radius: 25px;
    display: flex;
}

.objetivos h2{
    color: #91C6F7;
    font-size: 35px;
}

.texto-objetivos{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 20px;
    font-size: 15px;
}

.texto-objetivos ul{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    list-style: disc;
}
.imagen{
    display: flex;
    align-items: end;
    justify-content: right;
}





