@import "https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	width: 100%;
	height: 100vh;
	background: linear-gradient(210deg, #000000 20%, #00529C 100%);
	position: relative;
	overflow: hidden;
  }
  
  body::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: 
	  radial-gradient(circle at 15% 20%, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 25%),
	  radial-gradient(circle at 80% 80%, rgba(0, 82, 156, 0.3) 0%, rgba(0, 82, 156, 0) 25%);
  }
  
  
.sidebar {
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	width: 100px;
	background: rgb(145, 198, 347, .12);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
    color: black;
	padding: 25px;
	z-index: 99;
	transition: all 0.5s ease;
	border-radius: 0 15px 15px 0;

	.logo-details{
		height: 60px;
		gap: 7px;
		display: flex;
		align-items: center;
		position: relative;

		.icon {
			opacity: 0;
			transition: all 0.5s ease;
		}

		.logo_name {
			color: black;
			font-size: 20px;
			font-weight: 600;
			opacity: 0;
			transition: all 0.5s ease;
		}

        .opciones{
            height: 50px;
            width: 70px;
        }
        .flecha{
            height: 0px;
            width: 50px;
        }

		#btn {
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
			font-size: 22px;
			transition: all 0.4s ease;
			font-size: 23px;
			text-align: center;
			cursor: pointer;
			transition: all 0.5s ease;
		}
	}

	i {
		color: black;
		height: 60px;
		min-width: 50px;
		font-size: 28px;
		text-align: center;
		line-height: 60px;
	}

	.nav-list {
		height: calc(100% - 140px);
	}

	.scroll {
		overflow-y: scroll;
		scrollbar-width: thin;
		scrollbar-color: #79A4FF;
	}

	li {
		position: relative;
		margin: 8px 0px 8px 0;
		list-style: none;

		.tooltip {
			position: absolute;
			top: -20px;
			left: calc(100% + 15px);
			z-index: 1002;
			background: #91c6f768;
			color: white;
			padding: 6px 8px;
			border-radius: 8px;
			font-size: 15px;
			font-weight: 400;
			opacity: 0;
			pointer-events: none;
			transition: 0s;
			width: auto;
		}

		&:hover {
			.tooltip {
				opacity: 1;
				pointer-events: auto;
				transition: all 0.4s ease;
				top: 50%;
				width: 100px;
				transform: translateY(-50%);
			}
		}

		a {
			display: flex;
			border-radius: 25%;
			align-items: center;
			text-decoration: none;
			transition: all 0.4s ease;

			&:hover {
				background:  #91c6f768;

				.links_name {
					transition: all 0.5s ease;
				}

				i {
					transition: all 0.5s ease;
				}
			}

			.links_name {
				color: black;
				font-size: 15px;
				font-weight: 400;
				white-space: nowrap;
				opacity: 0;
				pointer-events: none;
				transition: 0.4s;
			}
		}

		.editar,
		.calc {
			display: flex;
			height: 50;
			width: 100%;
			border-radius: 25%;
			align-items: center;
			text-decoration: none;
			transition: all 0.4s ease;

			&:hover {
				background:  #91c6f768;

				.links_name {
					transition: all 0.5s ease;
				}

				i {
					transition: all 0.5s ease;
				}
			}

			.links_name {
				color: black;
				font-size: 15px;
				font-weight: 400;
				white-space: nowrap;
				opacity: 0;
				pointer-events: none;
				transition: 0.4s;
			}
		}

		button {
			display: flex;
			height: 50;
			width: 100%;
			border-radius: 12px;
			align-items: center;
			text-decoration: none;
			transition: all 0.4s ease;
			background:  #79A4FF;
			border: none;

			&:hover {
				background:  #79A4FF;

				.links_name {
					transition: all 0.5s ease;
				}

				i {
					transition: all 0.5s ease;
				}
			}

			.links_name {
				color: black;
				font-size: 15px;
				font-weight: 400;
				white-space: nowrap;
				opacity: 0;
				pointer-events: none;
				transition: 0.4s;
				z-index: 1002;
			}
		}

		i {
			height: 50px;
			line-height: 50px;
			font-size: 30px;
			border-radius: 12px;
		}

		.profile-details {
			display: flex;
			align-items: center;
			flex-wrap: nowrap;
		}

		.logo {
			height: 45px;
			width: 45px;
			object-fit: cover;
			border-radius: 6px;
			margin-right: 10px;
		}
	}

	input {
		font-size: 15px;
		color: black;
		font-weight: 400;
		outline: none;
		height: 50px;
		width: 100%;
		width: 50px;
		border: none;
		border-radius: 12px;
		transition: all 0.5s ease;
		background:  #79A4FF;
	}

	.bx-search {
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		font-size: 22px;
		background:  #79A4FF;
		color: black;

		&:hover {
			background: black;
			color:  #79A4FF;
		}
	}

	li.profile {
		position: fixed;
		height: 60px;
		width: 77px;
		left: 17px;
		bottom: 16.5px;
		border-bottom-left-radius: 12px;
		padding: 7px;
		height: 70px;
		background: #212121;
		transition: all 0.5s ease;
		overflow: hidden;
		opacity: 0; /* Inicialmente oculto */
		visibility: hidden; /* Inicialmente oculto */

		img {
			display: none;
		}
	
		.name {
			font-size: 15px;
			font-weight: 400;
			color: black;
			white-space: nowrap;
			opacity: 0;
			transition: opacity 0.3s ease;
		}
	
		.job {
			font-size: 12px;
			font-weight: 400;
			color: black;
			white-space: nowrap;
			opacity: 0;
			transition: opacity 0.3s ease;
		}
	
		.profile-details {
			display: flex;
			align-items: center;
			gap: 10px;
			transform: translateX(-100%);
			transition: transform 0.5s ease;
		}
	}
}
.sidebar .logo-details .logo{
   height: 200px;
   width: 30px;
}
.sidebar.open {
	width: 260px;
	display: flex;
	justify-content: space-around;

	.logo-details {
		.icon {
			opacity: 1;
		}

		.logo_name {
			opacity: 1;
		}

		.fas-fa-stream-2 {
			opacity: 1;
		}

		#btn {
			text-align: right;
		}
	}

	li {
		.tooltip {
			display: none;
		}

		a {
			.links_name {
				opacity: 1;
				pointer-events: auto;
			}
		}

		.editar,
		.calc{
			.links_name {
				opacity: 1;
				pointer-events: auto;
			}
		}

		button {
			.links_name {
				opacity: 1;
				pointer-events: auto;
			}
		}
	}

	input {
		padding: 0 20px 0 50px;
		width: 100%;
	}

	.bx-search {
		&:hover {
			background:  #79A4FF;
			color: black;
		}
	}

	.nav-list {
		height: calc(100% - 140px);
	}

	li.profile {
        width: 260px;
        opacity: 1;
        visibility: visible;
        
        .name,
        .job {
            opacity: 1;
        }

        .profile-details {
            transform: translateX(0);
			display: flex;
			justify-content: center;
			padding-top: 7px;
        }
    }

    .profile {
        img {
			display: block;
            width: 40px;
            height: 40px;
            border-radius: 50px;
            transition: all 0.5s ease;
        }

        #log_out {
            width: 50px;
            background: none;
            transition: all 0.5s ease;
        }

        .profile-details {
            gap: 10px;
        }
    }

	~ {
		.home-section {
			left: 250px;
			width: calc(100% - 250px);
		}
	}
}



.sidebar.open ~ #chat {
    width: 983px;
    margin-left: 283px; /* 100px + 183px */
    transition: width 0.5s ease, margin-left 0.5s ease;
}

.sidebar.open ~ .calculadora {
	margin-left: 290px;
	transition: margin-left 0.5s ease;
}

.sidebar.open ~ .apartado-info {
    margin-left: 290px;
    transition: margin-left 0.5s ease;
}

.apartado-info {
    width: 300px; /* Aumentado para mejor legibilidad */
    height: auto; /* Altura automática para contenido flexible */
    display: flex;
    margin-left: 110px;
    margin-top: 100px;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    transition: margin-left 0.5s ease;
	animation: showElement 0.5s ease-out forwards;

    .contenedor-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color:  #79A4FF;
        width: 100%;
        padding: 20px;
        border-radius: 12px;
		gap: 10px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
        transition: all 0.4s ease;

        h1 {
            font-size: 1.2rem;
            color: black;
            font-weight: 500;
        }

        img {
			display: flex;
			width: 100px;
			height: 100px;
			border-radius: 50px;
			border: 2px solid rgb(37, 116, 40);
		}

        span {
            width: 90%;
			overflow: auto;
			scrollbar-width: thin;
			scrollbar-color:  #79A4FF  #79A4FF;
            padding: 8px;
            background-color:  #79A4FF;
            border-radius: 8px;
            color: black;
            font-size: 14px;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: #333333;
            }
        }
    }
}

.elm button{
	background-color:  #79A4FF;
    border: none;
    width: 160px;
    border-radius: 12px;
    height: 39px;
    padding-left: 10px;	
}

.elm button:hover {
	i {
		color: rgb(208, 0, 0);
	}
	.links_name {
		background-color: rgba(255, 0, 0, 0);
	}
	span {
		color: rgb(208, 0, 0);
	}
}

.elm i {
	color: white;
}

.profile{
	width: 92%;
    height: 95%;
    margin-right: 15px;
    margin-left: 100px;
    box-sizing: border-box;
    padding: 1em;
    left: 12px;
    position: relative;
    color: #79A4FF;
    text-align: center;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
}

.profile h2{
	font-weight: 800;
	font-size: 30px;
}

.info-user{
	height: 800px;
    border-radius: 25px;
    width: 85%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgba(255, 255, 255, .07);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding: 1rem;
    color: #fff;
    justify-content: space-around;
}

.first-part{
	display: flex;
	width: 100%;
	list-style: none;
	gap: 10px;
	align-items: center;
	justify-content: space-around;
}

.first-part ul{
	display: flex;
	flex-direction: column;
	align-items: start;
	list-style: none;
}

.first-part button{
	width: 90px;
	padding: 5px 10px;
	border: none;
	background-color: #13293D;
	color: #fff;
	border-radius: 10px;
}

.second-part{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-content: center;
    justify-content: center;
}

.amount{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 35%;
	height: 110px;
	background-color: rgb(255, 255, 255, 0.07);
	border-radius: 15px;
	font-size: 20px;
}
.cantidad-info{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

#img-avatar {
	display: flex;
	width: 50px;
	height: 50px;
	align-items: center;
	justify-content: center;
	background-color: #dfe5f2;
	border-radius: 50%;
  }

#img-profile{
	display: flex;
    width: 150px;
    height: 150px;
    align-items: center;
    justify-content: center;
    background-color: #2c2c2c;
    border-radius: 50%;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 1050;
    display: none;
}

.modal.show ~ .modal-overlay {
    display: block;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(210deg, #000000 20%, #00529C 100%);
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1051;
    width: auto;
    max-width: 90%;
	gap: 7px;
	display: none;
	flex-direction: column;
	flex-wrap: wrap;
}


.ocultar {
    display: none;
}

/* Estilos para los formularios dentro del modal */
.modal form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.modal form input,
.modal form textarea {
    padding: 10px;
    margin-bottom: 10px;
	border: none;
	outline: none;
	height: 60px;
	color: #fff;
    border-radius: 5px;
    font-size: 16px;
	background-color: #cccccc12;
}

.modal form input,
.modal form textarea :target{
	outline: none;
}

.modal form textarea {
    resize: vertical; /* Permite redimensionar verticalmente */
}

.modal form button {
    padding: 10px 15px;
    background-color: #00529C;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
	transition: .5s linear background-color;
}

.modal-change{
	display: flex;
	gap: 10px;
}

.modal form button:hover {
    background-color: #1470d2;
}

/* Estilos para la previsualización de la imagen */
#imagePreview {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 4px;
}

/* Estilos para la barra de progreso */
#uploadProgress {
    width: 100%;
    margin-bottom: 10px;
}

/* Estilos para el input de archivo */
#profileImageInput {
    margin-bottom: 10px;
}



.my-swal-popup {
	z-index: 2000; 
}